html{font-family:Roboto Slab;box-sizing:border-box;line-height:1.5;font-weight:400;font-size:16px;color:rgba(0,0,0,.87)}
body{margin:0;font-size:16px;color:#767270;text-align:center;background-color:#141414;color:#b9b9b9}
main,section{display:block}
h1,h2,h3,h4,h5,h6{font-weight:400}
h1 a,h3 a,h4 a,h5 a,h6 a{}
h2,h3{font-weight:500}
h2{font-size:1.8rem;margin:0}
h3{font-size:1.15rem;line-height:1.5rem;font-weight:400;margin:0 0 0}
h4{font-size:1rem;line-height:1.4rem;margin-bottom:0;margin-top: 0}
h4 p, h4 span{font-size:0.9rem; font-weight: 300}
p{font-weight:300;font-size:1rem;line-height:1.4rem;margin-top:0;margin-bottom:0;text-align:justify}
a{color:#b9b9b9;background-color:transparent}
a{text-decoration:none}
a t2:hover,a:active,a:hover,t1 span:hover,t1:active,t1:hover{outline:0 none;color:#d1891f}
svg.mail :hover { fill: #d1891f;}
a t2{color:#a08a69}
img{border:0 none}
*,::after,::before{box-sizing:inherit}
.z-depth-1{box-shadow:0 4px 5px 0 rgba(0,0,0,.22),0 2px 10px 0 rgba(0,0,0,.27)}
i{line-height:inherit}
img.responsive-img{max-width:100%;width:2.9rem;height:auto;margin-left:auto;margin-right:auto}
.container{padding:0 1.5rem;margin:0 auto;max-width:1280px;width:90%;margin-top:24px}
.container .row{max-width:1000px;margin-top:25px}
.section{padding-top:1rem;padding-bottom:1rem}
.row{margin-left:auto;margin-right:auto;max-width:600px;margin-top:25px}
.row::after{content:"";display:table;clear:both}
.row .col{float:left;box-sizing:border-box;padding:0}
.row .col.s12{width:100%;margin-left:0}

.animated{animation-duration:1s;animation-fill-mode:both}
.fadeIn{animation-name:fadeIn}
.a1{visibility:visible;animation-delay:.1s}
.a2{visibility:visible;animation-delay:.2s}
.a3{visibility:visible;animation-delay:.3s}
.a4{visibility:visible;animation-delay:.4s}
.a5{visibility:visible;animation-delay:.5s;animation-name:fadeIn}
.a10{visibility:visible;animation-name:fadein 1.5s;-webkit-animation: fadein 1.5s;}
@keyframes fadein{
    0% { opacity:0; }
    90% { opacity:0; }
    100% { opacity:1; }
}
@keyframes fadein{
    0% { opacity:0; }
    90% { opacity:0; }
    100% { opacity:1; }
}
.section{text-align:left}
.section .section-wrapper-pic{background-color:#1e1e1e;display:flex;overflow:hidden;margin-top:24pt;margin-bottom:15px;padding-top: 4%;;padding-left:0;padding-right:0;border-radius:2pt}
.section .section-wrapper{background-color:#1e1e1e;border-radius:2pt;overflow:hidden;margin-bottom:15pt;padding-bottom:20pt!important;padding-top:20pt;}
.section .section-wrapper .section-icon{display:flex;align-items:center;padding-right:4%;padding-left:4%;margin-top: -4pt;}
.section .section-wrapper h2{margin-bottom:15px}
.custom-content{padding-right:0!important}
.custom-content-wrapper{margin-bottom:16px}
@media only screen and (min-width:601px)
{
	html{font-size:16px;}
	.container{width:85%}
	.row .col.m12{width:100%;margin-left:0;margin-top:0}
	
}
@media only screen and (max-width:600px)
{
	html{font-size:15px;}
}
@media only screen and (max-width:500px)
{
	html{font-size:14px;}
}
@media only screen and (max-width:430px)
{
	html{font-size:13px;}
}


@media only screen and (min-width:993px)
{
	.container{width:70%}
	.col {margin-top:20pt}
	.row .col.l2{width:16.6667%;margin-left:0}
	.row .col.l3{width:25%;margin-left:0;padding-right:8%;padding-left:8%;margin-top:21px}
	.row .col.l4{width:33.3333%;margin-left:0;padding-bottom:40pt}
	.row .col.l6{width:50%;margin-left:0}
	.row .col.l8{width:66.6667%;margin-left:0}
	.row .col.l9{width:75%;margin-left:0;opacity:.8}
	.row .col.l10{width:83.3333%;margin-left:0;padding-right:0}
	.row .col.l12{width:100%;margin-left:0}
	.section .section-wrapper{padding-right: 30pt}
}
@media only screen and (max-device-width:992px)
{
	.container{width:100%!important}
	.section{padding:0!important;text-align:center;margin-top:30px}
	.section .section-wrapper h2{margin-top:10px;margin-bottom:10px;text-align:center}
	.interests{margin-bottom:10px}
}
@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:landscape)
{
	.section{text-align:left;padding-right:0!important;padding-left:24px!important}
}
@media only screen and (max-width:992px)
{
	.container{width:100%!important;margin-top:0!important}
	.row{overflow-x:hidden!important}
	.section{text-align:center;margin-top:30px;padding:0!important}
	.section .section-wrapper .section-icon { margin-top: 0; }
	.section .section-wrapper h2 { margin-top: 0}
	.section .custom-content-wrapper a,h2 p a,h3 a{border-bottom:dotted 1px rgba(125,125,125,.5)}
	.section .custom-content-wrapper{padding:initial;text-align:left}
	h2 p,p{text-align:justify}
	h3,h3 span{text-align:left}
	.section h3 li{text-align:left;padding-left:50pt;padding-right:50px}
	.section .custom-content{padding:0 10px!important}
	.section .custom-content{margin:0 30px}
	.section-wrapper{padding:5%}
}

date{color:#788452; font-weight: 400;font-size: 0.9rem}
.profile-pic{width:23%; height: 5.3rem;}
img.profile-image{width:212%;margin-top:-26%;margin-left:-8%}
top-name{font-weight: 300;text-align: left;font-size:2.55rem;margin-top: 4pt;margin-bottom: -4pt;line-height: 2.3rem}
img.mail-img{width:3.5%;margin-bottom:-2pt;margin-left:6pt}
div.backtext{
	position: absolute;
    color: rgba(28, 28, 28, 0.65);
    line-height: 11pt;
    font-size: 11pt;
    text-align: justify;
	z-index: -1;
	overflow: hidden;
	height: 4770pt;
}